

<div class="tab-pane" id="formcontrols"
	ng-controller="crearUsuarioController">
	<form id="form" name="form" role="form" class="form-horizontal">
		<fieldset>


			<h2>Datos personales</h2>


			</br>

			<div class="control-group">
				<label class="control-label" for="nombres">Nombres</label>
				<div class="controls">
					<input type="text" class="span4" id="nombres"
						ng-model="usuario.nombres" required />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->


			<div class="control-group">
				<label class="control-label" for="apellidos">Apellidos</label>
				<div class="controls">
					<input type="text" class="span4" id="apellidos"
						ng-model="usuario.apellidos" required />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->

			<div class="control-group">
				<label class="control-label" for="cedula">Cédula identidad</label>
				<div class="controls">
					<input type="text" class="span4" id="cedula"
						ng-model="usuario.cedula" required />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->


			<div class="control-group">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
					<input type="text" class="span4" id="email" required
						ng-model="usuario.correo" />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->


			<br /> <br />


			<h2>Datos sesión</h2>


			</br>

			<div class="control-group">
				<label class="control-label" for="nombreUsuario">Nombre
					usuario</label>
				<div class="controls">
					<input type="text" class="span4" id="nombreUsuario"
						ng-model="usuario.nombreUsuario" required />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->

			<div class="control-group">
				<label class="control-label" for="password1">Contaseña</label>
				<div class="controls">
					<input type="password" class="span4" id="password1" required
						ng-model="usuario.password" />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->


			<div class="control-group">
				<label class="control-label" for="password2">Confirmar
					contraseña</label>
				<div class="controls">
					<input type="password" class="span4" id="password2" required
						ng-model="usuario.passwordConfirmation" />
				</div>
				<!-- /controls -->
			</div>
			<!-- /control-group -->

			<br />


			<div class="form-actions text-center">
				<button type="button" class="btn btn-primary"
					ng-disabled="form.$invalid || !equalsPass()"
					ng-click="crearUsuario(usuario)">Guardar</button>
				<button class="btn btn-warning">Cancelar</button>

			</div>

			<!-- /form-actions -->
		</fieldset>
	</form>
</div>