<title>Login - Volta</title>

<div class="navbar navbar-fixed-top">

	<div class="navbar-inner">

		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="#"> Volta <i class="icon-bolt"></i>
			</a>

			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class=""><a href="#" class=""> <i
							class="icon-chevron-left"></i> Volver al inicio
					</a></li>
				</ul>

			</div>
			<!--/.nav-collapse -->

		</div>
		<!-- /container -->

	</div>
	<!-- /navbar-inner -->

</div>
<!-- /navbar -->

<div class="account-container">

	<div class="content clearfix" ng-controller="LoginController">
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		<form name="form" role="form">
			<h1>Iniciar Sesión</h1>
			<div class="login-fields">

				<p>Ingrese sus datos.</p>

				<div class="field">
					<label for="username">Usuario</label> <input type="text"
						id="username" name="username" ng-model="username"
						placeholder="Nombre usuario"
						class="login username-field form-control" required /><span
						ng-show="form.username.$dirty && form.username.$error.required"
						class="help-block">Usuario requerido</span>
				</div>
				<!-- /field -->

				<div class="field">
					<label for="clave">Contraseña:</label> <input type="password"
						id="clave" name="clave" ng-model="clave" placeholder="Contraeña"
						class="login password-field form-control" required /><span
						ng-show="form.clave.$dirty && form.clave.$error.required"
						class="help-block">Contraseña requerida</span>
				</div>
				<!-- /password -->

			</div>

			<div class="login-actions">
				<button type="submit" ng-click="login()"
					ng-disabled="form.$invalid || dataLoading"
					class="button btn btn-success">Login</button>
			</div>
		</form>

	</div>
	<!-- /content -->

</div>
<!-- /account-container -->